*{
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(240, 227, 212);
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li{
    list-style: none;
}
/* nav ul li a{
    transition: 1s ease;
}

nav ul li a:hover{
    background-color: white!important;
    color: rgb(32, 15, 12)!important;
}

nav ul li.active a{
    background-color: white!important;
    color: rgb(32, 15, 12)!important;

} */

.products{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 2rem;
}

/* ===== Dashboard Page ===== */
tr td img{
    max-height: 3.5rem!important;
}


/* =======  Media Queries  ======= */
@media (max-width:1200px){
    .products{
        grid-template-columns: repeat(3,auto);
        grid-gap: 1.5rem;
    }
}